<app-navbar></app-navbar>
<!-- Page Content -->
<div class="container">
    <h1 class="mt-4 mb-3"></h1>
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div (click)="getUserProfile(post.appUser?.username)" class="mr-2" style="cursor: pointer">
                            </div>
                            <div (click)="getUserProfile(post.appUser?.username)" class="ml-2" style="cursor: pointer">
                                <div class="h5 m-0">{{ post.appUser?.fullName }}</div>
                                <div class="h7 text-muted">
                                    {{ post?.postedDate | date: "mediumDate" }}
                                </div>
                            </div>
                        </div>
                        <div>
                            <div *ngIf="user.username == post.appUser?.username" class="dropdown">
                                <button aria-expanded="false" aria-haspopup="true" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown"
                                        id="gedf-drop1" type="button">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div aria-labelledby="gedf-drop1" class="dropdown-menu dropdown-menu-right">
                                    <a (click)="onDelete(post?.id)" class="dropdown-item">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <a (click)="likePost(post, user)" [ngStyle]="{ color: like === 'Unlike' ? '#18BC9C' : '#000000' }" class="card-link"
                       style="cursor:pointer;">{{ post?.likes }}<i class="fa fa-thumbs-up"></i></a>
                    <a aria-controls="collapseComment" aria-expanded="false" class="card-link float-right" data-bs-toggle="collapse" href="#{{ post.id }}"
                       role="button">{{ post?.commentList?.length }}<i class="fa fa-comment"></i></a>

                    <p class="card-text">{{ post?.content }}</p>
                </div>
                <div class="collapse" id="{{ post.id }}">
                    <div *ngFor="let comment of post?.commentList" class="card-body">
                        <div class="row">
                            <div class="col-md-12" style="padding: -50px 0px;">
                                <p>
                                    <a (click)="getUserProfile(comment.username)" class="float-left" style="color:#18BC9C;cursor:pointer;"><strong>{{
                                        comment.username }}</strong></a>
                                    <span class="text-secondary float-right">{{
                                        comment?.postedDate | date: "short"
                                        }}</span>
                                </p>
                                <div class="clearfix"></div>
                                <p>{{ comment?.content }}</p>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p><a class="float-left" href="#"></a></p>
                                <div class="clearfix"></div>
                                <form #commentForm="ngForm" (ngSubmit)="onAddComment(commentForm, post)">
                                    <input name="username" ngModel="{{ user?.username }}" type="hidden"/>
                                    <input name="postId" ngModel="{{ post?.id }}" type="hidden"/>
                                    <p>
                                        <input [(ngModel)]="comment.content" class="form-control" id="comment" name="content" type="text"/>
                                    </p>

                                    <button [disabled]="comment.content == ''" class="float-right btn btn-primary ml-2" type="submit">
                                        <i class="fa fa-arrow-right" style="font-size: 20px;"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

